.newTask {
  display:flex;
  flex-direction: column;
  grid-area: new-task;
  background-color: #A5A5A5;
  border-radius: 10px;
  padding: 20px;

  h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .inputContainer {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    flex-direction: column;

    input {
      width: 100%;
      padding: 8px 12px;
      box-sizing: border-box;
      border: none;
      border-radius: 5px;
      background-color: #D9D9D9;
    }
  }

  @media screen and (min-width: 1280px) {
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.5rem;
    padding: 24px;
    box-sizing: border-box;

    .inputContainer {
      input {
        height: 100%;
        font-size: 1.75rem;
      }
    }
  }
}
