.timer {
  display: flex;
  flex-direction: column;
  grid-area: timer;
  border-radius: 10px;
  background-color: #A5A5A5;
  padding: 20px;

  .clockWrapper {
    align-items: center;
    display: flex;
    font-size: 5rem;
    justify-content: center;
    margin-bottom: 24px;
    width: 100%;
    gap: 20px;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
