.AppStyle {
  display: grid;
  grid-template-rows: min-content min-content auto;
  grid-template-areas:
  "new-task"
  "timer"
  "task"
  ;
  gap: 40px;
  padding: 32px;

  @media screen and (min-width:1280px)  {
    grid-template-areas:
    "new-task task"
    "timer task"
    ;
    grid-template-rows: min-content min-content;
    grid-template-columns: repeat(2, 513px);
    justify-content: center;
    align-content: center;
    padding: 64px;
  }
}
