* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	background-color: #2D2D2D;
	height: 100%;
	width: 100%;
}

#root {
	width: 100%;
}
